body {
    margin: 0;
    color: white;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
}

* {
    flex: 1 1 100%;
}

.main-header {
    text-align: center;
    background-color: #ff4500;
    min-height: 5vh;
}

.main-section {
    text-align: center;
    background-color: #00bfff;
    min-height: 30vh;
}

.aside-left {
    text-align: center;
    background-color: #228b22;
    min-height: 30vh;
}

.aside-right {
    text-align: center;
    background-color: #ffb6c1;
    min-height: 30vh;
    order: 0;
}

.footer {
    text-align: center;
    background-color: #9370db;
    min-height: 5vh;
}

@media(min-width: 768px){
    .main-section{
        flex: 1 80%;
        order: 1;
        min-height: 50vh;
    }

    .aside-right {
        flex: 1 20%;
        order: 2;
        min-height: 50vh;
    }
    
    .aside-left {
        order: 3;
        min-height: 40vh;
    }

    .footer {
        order: 4;
    }
}